



* {
    margin: 0;
    padding: 0;
}


/* fonts */

@font-face {
    src: url(fonts/ProductSans-Regular.ttf);
    font-family: productsans;
}

@font-face {
    src: url(fonts/ProductSans-Bold.ttf);
    font-family: productsansbold;
}

@font-face {
    src: url(fonts/ProductSans-Thin.ttf);
    font-family: productsansthin;
}

@font-face {
    src: url(fonts/ProductSans-Medium.ttf);
    font-family: productsansmedium;
}





/* unvisited link */
a:link {
  color: black;
    text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: blue;
}

/* selected link */
a:active {
  color: black;
}










/* PHONE */

@media only screen and (min-width: 300px) {

    h2 {
        padding: 100px 30px 20px;
        font-family: sans-serif;
        font-size: 50px;
        line-height: 44px;
    }

    p {
        font-size: 24px;
        line-height: 36px;
        padding: 18px 20px 18px 20px;
        text-align: center;
        font-family: productsans;
        color: darkslategrey;
    }

    .icon-linkedin {
        width: 30px;
        height: 30px;
        margin: 20px auto;
        display: inline;
        max-width: 100%;
        height: auto;
    }
 
   p {
        font-size: 20px;
        line-height: 36px;
        font-family: productsans;
        padding: 25px 30px 0px 30px;
        text-align: left;
    }

    .work {
        font-size: 50px;
        font-family: productsans;
        padding: 100px 10px 10px;
        text-align: center;
        color: black;
    }
    
    .works-uts {
        width: 300px;
        height: 300px;
        display: block;
        margin: 0 auto;
        padding-top: 10px;
        padding-bottom: 100px;
    }
   
    .persona {
        width: 390px;
        height: 429px;
        display: none;
        margin: 0 auto;
        padding: 0px;
    }
    
    .personamobile {
        width: 351px;
        height: 546px;
        display: block;
        margin: 0 auto;
        padding-left: 20px;
    }
 
 
    .user-flow {
        width: 390px;
        height: 186px;
        display: block;
        margin: 0 auto;
    }
    

    .finalui {
        width: 500px;
        height: 1163px;
        padding: 40px;
        display: none;
        margin: 0 auto;
    }
    
    .finaluimobile {
        width: 362px;
        height: 3924px;
        padding-left: 0px;
        display: block;
        margin: 0 auto;
    }

    .work-subtitle {
        font-family: productsans;
        font-size: 50px;
        margin: 0;
        padding: 70px 0px 0px;
        line-height: 1;
        text-align: center;
        color: black;
        }
    
        div {
          margin: 0 auto;
          text-align: center;
        }
    
        a {
          margin: 0px auto;
        }

    .uts {
        width: 200px;
        height: 280px;
        margin: 20px auto;
        display: inline;
        max-width: 100%;
        height: auto;
    }


    .subparagraph {
        font-size: 18px;
        line-height: 36px;
        padding: 5px 30px 0px 30px;
        font-family: productsans;
        text-align: justify;
        }


    .topbutton {
        font-size: 16px;
        line-height: 36px;
        padding: 25px 30px 0px 10px;
        text-align: center;
        font-family: productsans;
        padding: 100px 100px 100px;
        text-align: left;
    }


   .works-summary {
        font-size: 24px;
        line-height: 36px;
        padding: 18px 20px 18px 20px;
        text-align: center;
        font-family: productsans;
        padding: 50px 325px 0px;
        text-align: justify;
    }


    .bio {
        font-size: 20px;
        line-height: 36px;
        font-family: productsans;
        padding: 25px 30px 0px 30px;
        text-align: justify;
        color: darkslategrey;
    }
    
    .utsapplogo {
        width: 150px;
        height: 150px;
        margin: 20px auto;
        display: inline;
        max-width: 100%;
        height: auto;
    }
    
    
    .contacttable {
        font-size: 18px;
        font-family: productsans;
        text-align: left;
        margin: auto;
        border-spacing: 50px 30px;
        padding: 25px 50px 50px 0x;
        color: darkslategrey;
    }
    
    .currentpage {
        font-size: 20px;
        font-family: productsans;
        text-align: center;
        margin: auto;
        border-spacing: 100px 15px;
        padding: 0px;
        color: darkslategrey;
        text-decoration: underline;
    }
    
    
    .navtable {
        font-size: 20px;
        font-family: productsans;
        text-align: center;
        margin: auto;
        border-spacing: 50px 15px;
        padding-bottom: 50px;
        color: darkslategrey;
        
    }
    

    
    .icontable {
        font-size: 50px;
        font-family: productsans;
        text-align: center;
        margin: auto;
        border-spacing: 50px 10px;
        padding: 0px;
    }
    
    .footer {
        background-color: black;
        height: 100px;
        color: white;
        font-family: productsans;
        margin-top: 50px;
        text-align: center;
        font-size: 16px;
        
    }
    
    .header {
        background: red;
    }

    
    .worktabledesktop {
        display: none;
        
    }
    
    .worktablemobile {
        text-align: center;
        margin: auto;
        border-spacing: 0px 0px;
        padding-top: 50px;
        padding-bottom: 50px;
        color: darkslategrey;
        
    }

}







/* TABLET */

@media only screen and (min-width: 768px) {
    
    .img-banner {
        display: block;
        width: 100%;
        padding-bottom: 30px;
    }
    
    adasd .wrapper {
        width: 600px;
        margin: 0 auto;
    }

}










/* DESKTOP 1366x768*/

@media only screen and (min-width: 1000px) {

    h2 {
        padding: 100px 30px 20px;
        font-family: sans-serif;
        font-size: 100px;
        line-height: 44px;
    }

    p {
        font-size: 24px;
        line-height: 36px;
        padding: 18px 20px 18px 20px;
        text-align: center;
        font-family: productsans;
        color: darkslategrey;
    }

    .icon-linkedin {
        width: 30px;
        height: 30px;
        margin: 20px auto;
        display: inline;
        max-width: 100%;
        height: auto;
    }
 
   p {
        font-size: 20px;
        line-height: 36px;
        font-family: productsans;
        padding: 10px 325px 0px;
        text-align: left;
    }

    .work {
        font-size: 50px;
        font-family: productsans;
        padding: 100px 10px 10px;
        text-align: center;
        color: black;
    }
    
    .works-uts {
        width: 350px;
        height: 350px;
        display: block;
        margin: 0 auto;
        padding-top: 100px;
        padding-bottom: 100px;
    }
   
    .persona {
        width: 780px;
        height: 858px;
        display: block;
        margin: 0 auto;
    }
    
    .personamobile {
        width: 351px;
        height: 546px;
        display: none;
        margin: 0 auto;
        padding-left: 20px;
    }

    .user-flow {
        width: 780px;
        height: 372px;
        display: block;
        margin: 0 auto;
    }
    

    .finalui {
        width: 1000px;
        height: 2326px;
        padding: 40px;
        display: block;
        margin: 0 auto;
    }
    
    .finaluimobile {
        width: 362px;
        height: 3924px;
        padding-left: 0px;
        display: none;
        margin: 0 auto;
    }

    .work-subtitle {
        font-family: productsans;
        font-size: 50px;
        margin: 0;
        padding: 70px 0px 0px;
        line-height: 2;
        text-align: center;
        color: black;
        }
    
        div {
          margin: 0 auto;
          text-align: center;
        }
    
        a {
          margin: 0px auto;
        }

    .uts {
        width: 400px;
        height: 3480px;
        margin: 20px auto;
        display: inline;
        max-width: 100%;
        height: auto;
    }


    .subparagraph {
        font-size: 18px;
        line-height: 36px;
        padding: 10px 325px 1px;
        font-family: productsans;
        text-align: justify;
        }


    .topbutton {
        font-size: 18px;
        line-height: 36px;
        padding: 18px 20px 18px 20px;
        text-align: center;
        font-family: productsans;
        padding: 100px 200px 100px;
        text-align: left;
    }


   .works-summary {
        font-size: 24px;
        line-height: 36px;
        padding: 18px 20px 18px 20px;
        text-align: center;
        font-family: productsans;
        padding: 50px 325px 0px;
        text-align: justify;
    }


    .bio {
        font-size: 24px;
        line-height: 36px;
        font-family: productsans;
        padding: 40px 325px 0px;
        text-align: justify;
        color: darkslategrey;
    }
    
    .utsapplogo {
        width: 150px;
        height: 150px;
        margin: 20px auto;
        display: inline;
        max-width: 100%;
        height: auto;
    }
    
    
    .contacttable {
        font-size: 24px;
        font-family: productsans;
        text-align: left;
        margin: auto;
        border-spacing: 100px 50px ;
        padding: 75px 75px 100px;
        color: darkslategrey;
    }
    
    .currentpage {
        font-size: 50px;
        font-family: productsans;
        text-align: center;
        margin: auto;
        border-spacing: 100px 15px;
        padding: 0px;
        color: darkslategrey;
        text-decoration: underline;
    }
    
    
    .navtable {
        font-size: 50px;
        font-family: productsans;
        text-align: center;
        margin: auto;
        border-spacing: 100px 15px;
        padding: 0px;
        color: darkslategrey;
        
    }
    

    
    .icontable {
        font-size: 50px;
        font-family: productsans;
        text-align: center;
        margin: auto;
        border-spacing: 50px 15px;
        padding: 0px;
    }
    
    .footer {
        background-color: black;
        height: 100px;
        color: white;
        font-family: productsans;
        margin-top: 50px;
        text-align: center;
        font-size: 16px;
        
    }
    
    .header {
        background: red;
    }
    
    .worktabledesktop {
        font-size: 70px;
        font-family: productsans;
        text-align: center;
        margin: auto;
        border-spacing: 70px 15px;
        padding-top: 50px;
        padding-bottom: 50px;
        color: darkslategrey;
        display: block;
        
    }
    
    .worktablemobile {
        display: none;
        
    }
}

    
    
    
    
@media only screen and (min-width: 1500px) {

    h2 {
        padding: 200px 50px 20px;
        font-family: sans-serif;
        font-size: 150px;
        line-height: 44px;
    }

    p {
        font-size: 24px;
        line-height: 36px;
        padding: 18px 20px 18px 20px;
        text-align: center;
        font-family: productsans;
        color: darkslategrey;
    }

    .icon-linkedin {
        width: 50px;
        height: 50px;
        margin: 20px auto;
        display: inline;
        max-width: 100%;
        height: auto;
    }
 
   p {
        font-size: 26px;
        line-height: 36px;
        font-family: productsansmedium;
        padding: 10px 450px 0px;
        text-align: left;
    }

    .work {
        font-size: 50px;
        font-family: productsans;
        padding: 100px 10px 10px;
        text-align: center;
        color: black;
    }
    
    .works-uts {
        width: 499px;
        height: 504px;
        display: block;
        margin: 0 auto;
        padding-bottom: 100px;
    }
   
    .persona {
        width: 780px;
        height: 858px;
        display: block;
        margin: 0 auto;
    }
 

    .personamobile {
        width: 351px;
        height: 546px;
        display: none;
        margin: 0 auto;
        padding-left: 20px;
    }
    .user-flow {
        width: 780px;
        height: 372px;
        display: block;
        margin: 0 auto;
    }
    

    .finalui {
        width: 1000px;
        height: 2326px;
        padding: 40px;
        display: block;
        margin: 0 auto;
    }
    
    .finaluimobile {
        width: 1000px;
        height: 2326px;
        padding: 40px;
        display: none;
        margin: 0 auto;
    }

    .work-subtitle {
        font-family: productsans;
        font-size: 70px;
        margin: 0;
        padding: 70px 0px 0px;
        line-height: 2;
        text-align: center;
        color: black;
        }
    
        div {
          margin: 0 auto;
          text-align: center;
        }
    
        a {
          margin: 0px auto;
        }

    .uts {
        width: 400px;
        height: 3480px;
        margin: 20px auto;
        display: inline;
        max-width: 100%;
        height: auto;
    }


    .subparagraph {
        font-size: 24px;
        line-height: 36px;
        padding: 10px 450px 1px;
        font-family: productsans;
        text-align: justify;
        }


    .topbutton {
        font-size: 28px;
        line-height: 36px;
        padding: 18px 20px 18px 20px;
        text-align: center;
        font-family: productsans;
        padding: 100px 200px 100px;
        text-align: left;
    }


   .works-summary {
        font-size: 24px;
        line-height: 36px;
        padding: 18px 20px 18px 20px;
        text-align: center;
        font-family: productsans;
        padding: 50px 325px 0px;
        text-align: justify;
    }


    .bio {
        font-size: 30px;
        line-height: 36px;
        font-family: productsansmedium;
        padding: 60px 450px 0px;
        text-align: justify;
        color: darkslategrey;
    }
    
    .utsapplogo {
        width: 150px;
        height: 150px;
        margin: 20px auto;
        display: inline;
        max-width: 100%;
        height: auto;
    }
    
    
    .contacttable {
        font-size: 28px;
        font-family: productsans;
        text-align: left;
        margin: auto;
        border-spacing: 100px 100px 50px ;
        padding: 0px 0px 100px 0;
        color: darkslategrey;
    }
    
    .currentpage {
        font-size: 70px;
        font-family: productsans;
        text-align: center;
        margin: auto;
        border-spacing: 100px 15px;
        padding: 0px;
        color: darkslategrey;
        text-decoration: underline;
    }
    
    
    .navtable {
        font-size: 70px;
        font-family: productsans;
        text-align: center;
        margin: auto;
        border-spacing: 100px 15px;
        padding-top: 50px;
        padding-bottom: 50px;
        color: darkslategrey;
        
    }
    

    
    .icontable {
        font-size: 50px;
        font-family: productsans;
        text-align: center;
        margin: auto;
        border-spacing: 50px 15px;
        padding-top:50px;
    }
    


    .footer {
        background-color: black;
        height: 100px;
        color: white;
        font-family: productsans;
        margin-top: 100px;
        text-align: center;
        font-size: 16px;
        
    }
    .contactp{
        font-size: 28px;
        line-height: 36px;
        font-family: productsansmedium;
        padding: px 450px 100px;
        text-align: center;
    }   
        
    .worktabledesktop {
        font-size: 70px;
        font-family: productsans;
        text-align: center;
        margin: auto;
        border-spacing: 100px 15px;
        padding-top: 50px;
        padding-bottom: 50px;
        color: darkslategrey;
        display: block;
        
    }
    .worktablemobile {
        display: none;
        
    }

}
        
    }
    
    .header {
        background: red;
    }
    
    }

