/* fonts */



@font-face {
    src: url(fonts/ProductSans-Bold.ttf);
    font-family: productsansbold;
}

@font-face {
    src: url(fonts/ProductSans-Thin.ttf);
    font-family: productsansthin;
}

@font-face {
    src: url(fonts/ProductSans-Medium.ttf);
    font-family: productsansmedium;
}



@font-face {
    src: url(fonts/RobotoSlab-Regular.ttf);
    font-family: robotoslabregular;
}


@font-face {
    src: url(fonts/ProductSans-Regular.ttf);
    font-family: productsans;
}




<style>


* {
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}


/* LINKS */

/* unvisited link */
a:link {
  color: black;
    text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
}

/* selected link */
a:active {

    
    
    
    
    
}

/* unvisited link */
.b:link {
  color: white;
    text-decoration: none;
}
.b:hover {
  color: black;
}
/* visited link */
.b:visited {
  color: white;
}

/* selected link */
.b:active {

}


/* NAVIGATION BAR */

.navbar-currentpage{
    font-size: 20px;
    padding-top: 10%;
    color: #E5562F;
    font-weight: bold;
    }

.navbar-home{
    font-size: 20px;
    padding-top: 10%;
    }

.navbar-projects{

    font-size: 20px;
    padding-top: 10%;
}
.navbar-contact{
    font-size: 20px;
    padding-top: 10%;

}






.navbar-empty{

}
.navbar-linkedin{
}

.navbar-container {
    padding: 0% 23% 0% 23%;
    font-family: Open Sans;
}

.navbar-grid {
    width: 100%;
    display: inline-grid;
    grid-template-columns: 12% 12% 12% 52% 12%;
    text-align: center;
    font-family: Open Sans;
  }


.navbar-linkedin-icon {
        width: 20px;
        height: 20px;
        display: inline;
        max-width: 100%;
        height: auto;
        padding-top: 10%;
}

.navbar-linkedin-icon:hover {
        opacity: 50%;
}






/* HOME */

.home-title {
        font-size: 80px;
        line-height: 70px;
        padding: 0% 10% 10% 10%;
        font-family: productsans;
        text-align: center;
        
}


.home-content{
        line-height: 36px;
        padding: 10% 25% 10% 25%;
        font-family: productsans;
        text-align: justify;
}

.home-subtitle{
        font-size: 30px;
        line-height: 40px;
        font-family: Open Sans ;
        text-align: justify;
}

/* PROJECTS */

.projects-title {
        font-size: 80px;
        line-height: 70px;
        padding: 10% 20% 10% 20%;
        font-family: productsans;
        text-align: center;
        
}


.projects-subtitle{
        font-size: 30px;
        line-height: 40px;
        padding: 0% 10% 10% 10%;
        font-family: Raleway ;
        text-align: center;
}

#uts-thumbnail {

    max-width: 100%;
    display: block;
    }



.projects-description {
    margin: 0px;
    }



.projects-description-title {
        font-size: 50px;
        padding-top: 0px;
    margin-top: 0px;
        font-family: Open Sans;
        text-align: center;
    }
    
.projects-description-p {
        font-size: 20px;
        padding: 0%;
        text-align: center;
        font-family: Open Sans;
        line-height: normal;
    }
    
.projects-grid-background {
        background: #121617;
        padding-top: 5%;
        padding-bottom: 5%;
        max-width: 100%;
        display: block;
        margin: 0;
}
.projects-grid {
        font-size: 40px;
    background: #181C1D;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        padding: 0px;
        margin-top: 0%;
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 5%;
                color: white;
    }



.projects-grid:hover {
      opacity: 60%;
        background-color: #F5F5F5;
        color: black;
    }


.projects-grid2 {
        font-size: 40px;
        background: #181C1D;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        padding: 0;
        margin-top: 0%;
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 5%;
        color: white;
    }


.projects-grid2:hover {
      opacity: 60%;
        background-color: #F5F5F5;
        color: black;
    }

.projects-grid3 {
        font-size: 40px;
    background: #181C1D;
        display: grid;
        grid-template-columns: 100%;
    grid-template-rows: auto;

        padding: 0;
        margin-top: 0%;
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 5%;
                color: white;
    }

.projects-grid3:hover {
      opacity: 60%;
        background-color: #F5F5F5;
        color: black;
    }



/* CONTACT */



.contact-title {
        font-size: 80px;
        line-height: 70px;
        padding: 10% 10% 10% 10%;
        font-family: productsans;
        text-align: center;
        
}

.contact-background{
        background: #161616;
        padding-top: 5%;
        padding-bottom: 5%;
        max-width: 100%;
        display: block;
        margin: 0;
}

.contact-grid{
    display: grid;
    background: #181C1D;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
}

.form-label{
    font-family: Open Sans;
    font-size: 15px;
    margin: 5% 5% 0% 5%;
    color: white;
}

.form-box {

}

.form {
    border: 0px;
    height: 300%;
    width: 85%;
    margin: 5%;
    padding: 5px;
}

.form-large {
    border: 0px;
    height: 250px;
    width: 185%;
    margin: 5%;
    padding: 5px;
}


.form-button{
    background-color: #E5562F;
    border: 0px;
    height: 20px;
    width: 100px;
    margin: 0px 20px 20px 20px;
    padding: 3%; 
    text-align: center;
    font-family: Open Sans;
    font-size: 15px;
    border-radius: 5px;
}

.form-button:hover{
    opacity: 50%;
}


/* PROJECTS-UTS */

.projects-uts-title {
        font-size: 80px;
        line-height: 70px;
        padding: 10% 10% 10% 10%;
        font-family: productsans;
        text-align: center;
        
}

.projects-uts-background{
        background: #161616;
        padding-top: 5%;
        padding-bottom: 5%;
        max-width: 100%;
        display: block;
        margin: 0;
}

.projects-uts-background2{
        background: white;
        padding-top: 5%;
        padding-bottom: 5%;
        max-width: 100%;
        display: block;
        margin: 0;
}


.projects-uts-grid{
        display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33.33% 33.33% 33.33%;
        margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
    padding: 5%;
    grid-row-gap: 2%;
    grid-column-gap: 5%;

  justify-items: center; 
}

.projects-uts-image {
    height: 706.5px;
    width: 334.5px;
  max-width: 100%;
  height: auto;
}



.uts-flow{
    width :780px ;
    height: 372px;
    display: block;
    margin: 0 auto;
      max-width: 100%;
  height: auto;
}

.uts-persona{
    height: 780px;
    width: 780.5px;
    display: block;
    margin: 0 auto;
      max-width: 100%;
  height: auto;
}


.projects-uts-subtitle{
        font-size: 30px;
        line-height: 40px;
        margin: auto;
    padding: 0%  23% 0% 23%;
        text-align: center;
            font-size: 30px;
        line-height: 40px;
        font-family: Open Sans ;
}

.uts-icon{
    width: 10%;
    height: 10%;
    padding: 7%;
    display: block;
    margin: 0 auto;
}

.projects-uts-sectiontitle{
        font-size: 60px;
        line-height: 70px;
        padding: 0%;
        font-family: productsans;
        text-align: center;
    color: white;
}

.projects-uts-sectiontitle2{
        font-size: 60px;
        line-height: 70px;
        padding: 0%;
        font-family: productsans;
        text-align: center;
    color: black;
}


/* FOOTER */

#container {
    min-height: 100%;  
} 

#main {
    overflow: auto;

}

.footer {
    padding: 2%;
    margin-top: -20px;
    font-size: 15px;
    height: 20px;
    background: black;
    position:absolute;
    left:0;
    right:0;
    color: white;
    text-align: center;
    font-family: Open Sans ;
    }








@media only screen and (max-width: 1345px) {
    
.home-title {
        padding: 0% 5% 10% 5%;

}
}

@media only screen and (max-width: 1600px) {
.navbar-grid {
    width: 100%;
    grid-template-columns: 15% 15% 15% 40% 15%;

  }
}



@media only screen and (max-width: 1140px){
    .projects-grid {
            margin-left: 20%;
            margin-right: 20%;
  }
    
    
        .projects-grid2 {

            margin-left: 20%;
            margin-right: 20%;

        }
    
        .projects-grid3 {
            margin-left: 20%;
            margin-right: 20%;

        }
    
    .navbar-grid {
        margin-left: 0%;
        margin-right: 0%;
    }
}

@media only screen and (max-width: 1100px) {
.navbar-grid {
    width: 100%;
    grid-template-columns: 20% 20% 20% 20% 20%;

  }
    
    
.navbar-container {
    padding: 0% 17% 0% 17%;


}
    
.contact-grid {
    margin: 0% 20% 0% 20%;
}
    
.home-subtitle{
        font-size: 30px;
        line-height: 40px;
        padding: 0% 5% 10% 5%;
        text-align: center;
}

    
.projects-uts-grid{
        display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;


    grid-column-gap: 5%;

  justify-items: center; 
}
}

  justify-items: center; 
}
    
    
    
    @media only screen and (max-width: 950px) {    
    .projects-grid {
        grid-template-columns: 100%;
    grid-template-rows: 50% 50%;

    }
        
            .projects-grid2 {
        grid-template-columns: 100%;
    grid-template-rows: 50% 50%;

    }
        
            .projects-grid3 {
        grid-template-columns: 100%;
    grid-template-rows: 50% 50%;

    }
        
.projects-description-title {
        font-size: 25px;
        padding: 0px;

    }
    
.projects-description-p {
        font-size: 20px;
        padding: 0;

    }

}
    
.projects-description{
        padding: 5% 5% 0% 5%;
    }

@media only screen and (max-width: 873px){
.home-title {
        padding: 0% 5% 10% 5%;
}
    
.home-content{
        padding: 10% 10% 10% 10%;
}


@media only screen and (max-width: 820px){
    
.navbar-container {
    padding: 0% 17% 0% 17%;
}
    
.home-content{

        padding: 10% 10% 10% 10%;
}

.home-subtitle{

        padding: 0% 5% 10% 5%;

  }
.projects-description{
        padding: 1% 5% 0% 5%;
    }

}
}
    
    


@media only screen and (max-width: 658px){
.home-content{
        padding: 10% 0% 10% 0%;
}
    
.projects-description{
        padding: 5% 5% 0% 5%;
    }
.navbar-container {
    padding-left: 20px;
    padding-right: 20px;


}
.navbar-grid {
    grid-template-rows: 25% 25% 25% 0% 25%;
    grid-template-columns: 100%;
    text-align: left;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 0px;
    border-left: #E5562F solid 2px;
  }

.projects-title {
        font-size: 40px;   
    }
    
.contact-title {
        font-size: 40px;   
    }    
.navbar-currentpage{
    padding-top: 2%; 
    }
.navbar-home{
    padding-top: 2%;
    }
.navbar-projects{
    padding-top: 2%;
}
.navbar-contact{
    padding-top: 2%;
}

.navbar-linkedin-icon {
        padding-top: 2%;
}

.projects-grid {
        margin-left: 0%;
        margin-right: 0%;
    }
    
.projects-grid2 {
        margin-left: 0%;
        margin-right: 0%;
    }
    
.projects-grid3 {
        margin-left: 0%;
        margin-right: 0%;
    }

.contact-grid{
    margin: 0px;    
    } 
    .contact-background{
        background-color: white;
    }
    
    .projects-uts-title{
            padding: 30%  5% 30% 5%;
    }    
    .projects-uts-subtitle{
            padding: 0%  5% 0% 5%;
    }
    
    
    
    
.projects-description-title {
        font-size: 30px;
}
.projects-description-p {
        font-size: 15px;
}


@media only screen and (max-width: 500px){
    
    
.projects-description{
        padding: 0% 10% 0% 10%;
    }
    
    }
    

</style>